@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@200;300;400;500;600;700&family=Montserrat:wght@100;200;400;500;600;700&display=swap');
:root {
  --text: #edfbfd;
  --background: #03181b;
  --primary: #ec7465;
  --secondary: #1d2004;
  --accent: #d5301a;
  --font-size: 16px;
  --heading-font-size: 28px;
  --subheading-font-size: 22px;
  --title-font-size: 32px;
}

@media (min-width: 576px) {
  :root {
    --font-size: 12px;
    --heading-font-size: 28px;
    --subheading-font-size: 20px;
    --title-font-size: 40px; 
  }
}

@media (min-width: 768px) {
  :root {
    --font-size: 12px;
    --heading-font-size: 32px;
    --subheading-font-size: 22px;
    --title-font-size: 48px; 
  }
}

@media (min-width: 992px) {
  :root {
    --font-size: 12px;
    --heading-font-size: 36px;
    --subheading-font-size: 24px;
    --title-font-size: 56px; 
  }
}

@media (min-width: 1200px) {
  :root {
    --heading-font-size: 32px;
    --subheading-font-size: 18px;
    --title-font-size: 64px;
    --font-size: 12px;
  }
}

@media (min-width: 1440px) {
  :root {
    --heading-font-size: 40px;
    --font-size: 16px;
    --title-font-size: 72px; 
    --subheading-font-size: 22px;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
}

body {
  color: var(--text);
  background: var(--background);
  padding: 0 5vw;
  font-size: var(--font-size);
}

a {
  color: inherit;
  text-decoration: none;
}

h1{
  font-family: 'Hanken Grotesk', sans-serif;
  font-weight: 500;
  font-size: var(--subheading-font-size);
}
